@model MutantTrivia.ViewModels.QuestionListViewModel

<h1>Trivia Questions</h1>

<form asp-controller="Questions" asp-action="Index" method="get">
    <input type="text" asp-for="SearchModel.Name" placeholder="Search by Name" />
    <input type="text" asp-for="SearchModel.Answer" placeholder="Search by Answer" />

    <select asp-for="SearchModel.CategoryId">
        <option value="">All Categories</option>
        @foreach (var category in ViewBag.Categories as List<MutantTrivia.Models.QuestionCategory>)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>

    <button type="submit">Search</button>
</form>

<p>
    <a asp-controller="Questions" asp-action="Add">Add Question</a>
</p>

@if (Model.Questions.Count == 0)
{
    <p>No Questions Yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Answer</th>
        </tr>
        @foreach (var q in Model.Questions)
        {
            <tr>
                <td>@q.Category?.Name</td>
                <td>@q.Name</td>
                <td>@q.Answer</td>
            </tr>
        }
    </table>
}
