@model QuizViewModel
<h1>Quiz Yourself</h1>
<p>@Model?.CorrectAnswersCount out of @Model?.TotalQuestionsCount Answered</p>

@if (!string.IsNullOrEmpty(Model?.FeedbackMessage))
{
    <p>@Model.FeedbackMessage</p>
}

@if (!Model.IsComplete)
{
    <form asp-action="Quiz" method="post">
        <input type="hidden" asp-for="TotalQuestionsCount" value="@Model.TotalQuestionsCount" />
        <input type="hidden" asp-for="QuestionId" value="@Model.Question.Id" />
        <div>
            @Model?.Question?.Name
        </div>
        <div>
            <input asp-for="UserAnswer" />
        </div>
        <button type="submit">Submit Answer</button>
    </form>
}
else
{
    <div>
        <h2>Quiz Complete!</h2>
        <p>You got @Model.CorrectAnswersCount out of @Model.TotalQuestionsCount questions correct!</p>
        <a asp-action="Quiz" class="btn btn-primary">Start New Quiz</a>
    </div>
}